.login-form {
  width: 40%;
  background-color: rgb(236, 236, 236);
}

.eye-button {
  border: none;
  top: 50%;
  background: none;
  right: 4px;
  cursor: pointer;
}

.eye::before {
  display: none;
}
